.halo .box {
   box-shadow: 2px 2px 5px lightgray;  
   border: 1px solid #4f4f4f;
   text-shadow: 0 -1px 0 #000;
   font-size: 8px;
   color: #bcbcbc;
   background-color: #333;
   display: none;
}

.halo {
/* 	color: #13D880; */

   border: 2px dashed #13D880;
   padding-right: 5px;
   padding-bottom: 5px;
   margin-top: -4px;
   margin-left: -4px;

}