<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>PathG800owl</param-name>
		<param-value>http://localhost:8080/tnokco/Assets/owl/G800.owl</param-value>
	</context-param>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/Assets/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>/welcome</welcome-file>
	</welcome-file-list>
</web-app>