/*
* Author: Freddy Brasileiro
*/
#maskforloading 
{
	position:absolute;
	z-index:9990;  
	background-color:#000; 
	display:none;
	width: 100%;	
	
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
	-webkit-opacity:0.5;	
}

#maskforloading img
{
	position:absolute;
	top:1.2%;
	left:1%;
	width: 25px;
	height: 25px;
}

div.floatingDiv
{
	position: absolute;
}

#currentNode {
	border: 1px solid #B8B8B8;
	width: 300px;
	height: 200px;
	padding-left: 15px;
	padding-top: 15px;
	top: 20px;
	overflow-y: auto;
	max-width: 290px;
	max-height: 210px;
	color: #fff;
	background: #222 linear-gradient(#444, #222);
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
}

#subtitle {
	border: 1px solid #B8B8B8;
	width: 270px;
	height: 240px;
	padding-left: 10px;
	padding-top: 10px;
	overflow-y: auto;
	background: #222 linear-gradient(#444, #222);
}
