html, body {
   margin: 0;
   padding: 0;
}

body {
   -webkit-user-select: none;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -ms-user-select: none;
   user-select: none;
   font-family: Arial;
   font-family: "Source Sans Pro", sans-serif;
}

.toolbar-container{
	background-color: #36a9e1;
	border-bottom: 2px solid #1e8fc6;
	color: #FFF;
}

.btn {
   background-color: #36a9e1;
   padding: 4px 8px;
   font-size: 11px;
   line-height: 30px;
   color: #FFF;
   border: 0px;
   margin: 0;
   margin-left: -5px;
   cursor: pointer;
}
.btn:hover {
   background-color: #1e8fc6;
}
.btn > img {
   color: #FFF;
   vertical-align: middle;
   height: 20px;
}


.paper-scroller {
   background-color: hsla(220,11%,97%,.95);
  
}
.paper-scroller > .paper {
   /* Grid background image */
   background-color: white;
   box-shadow: 0 0 2px lightgray;
}

svg {
/* 	pointer-events: none; */
}

.element.bpmn.Pool svg {
	display: none;
	pointer-events: none;
}

/* Hide elements name while on paper */
.paper .element.basic.Pool text,
.paper .element.basic.Path text,
.paper .element.basic.Circle text,
.paper .element.basic.Rect[magnet="true"] text { 
   display: none; 
}

.paper-scroller{
	
	 height: 650px;
	width: 900px;
	padding-left: 0px;
  	padding-top: 0px;
	
}

.link-tools .tool-remove { 
	display: none 
	
	}

.link-tools  { 
	display: none 
	}

	 .tool-remove { 
	display: none 	
	}