#equipment-dialog{
	border-radius: 5px;
	padding: 0;
	margin: 0;
}

.ui-dialog {
	border-radius: 5px;
	padding: 0;
	top: 0;
}

.ui-dialog-titlebar {
	display: none;
}

#equipment-iframe{
	border-radius: 5px;
	border: 2px solid #383e4b;
	height: 100%;
	width: 100%;
}
